<user-actions>
  <div class="btn-group btn-group-sm" role="group">
    <a href={ `/admin/user/${props.row.get('_id')}/update` } class="btn btn-primary">
      <i class="fa fa-pencil-alt" />
    </a>
    <a href={ `/admin/user/${props.row.get('_id')}/remove` } class="btn btn-danger">
      <i class="fa fa-times" />
    </a>
  </div>
</user-actions>
